<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn"
	name="ca.footeware.swt.textify">

	<Properties>
		<Property name="LOG_LOCATION">${sys:user.home}/.local/share/textify/logs
		</Property>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%-6p]
			%C{1}.%M(%F:%L) - %m%n</Property>
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingFile name="rollingFile"
			fileName="${LOG_LOCATION}/swt.textify.log"
			filePattern="${LOG_LOCATION}/swt.textify-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>

			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20MB" />
			</Policies>

			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFile" />
		</Root>
	</Loggers>
</Configuration>